<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbal.app.emp.mapper.CouponMapper">
	<delete id="couponDelete">
		delete from hs_coupon
		where hsc_no in
		<foreach item="item" collection="array" open="(" close=")"
			separator=",">
			#{item}
		</foreach>
	</delete>
	<select id="getCouponList1" resultType="coupon">
		SELECT

		c.HSC_NO,c.HS_NO,to_char(c.HSC_ISSUEDATE,'yy-mm-dd')as
		HSC_ISSUEDATE,to_char(c.HSC_EXPIREDATE,'yy-mm-dd')as
		HSC_EXPIREDATE,c.HSC_COUPON_QUANTITY,c.HSC_DISCOUNT_RATE,c.HSC_MAXDISCOUNT_PAY,c.HSC_NAME,

		h.*
		FROM
		hs_coupon c
		JOIN hairshop h ON ( h.hs_no
		= c.hs_no )



	</select>

	<select id="getCouponList" resultType="coupon">
		SELECT
<![CDATA[
		(CASE
		WHEN
		c.hsc_coupon_quantity < 1 THEN
		'소진'
		WHEN c.hsc_expiredate < sysdate THEN
		'만료
		'
		WHEN hsc_issuedate > sysdate THEN
		'발급전 '
		WHEN hsc_expiredate > sysdate
		THEN
		'발급중'
		else 'else'
		END)]]>
		hsc_status,

		c.HSC_NO,c.HS_NO,to_char(c.HSC_ISSUEDATE,'yy-mm-dd')as
		HSC_ISSUEDATE,to_char(c.HSC_EXPIREDATE,'yy-mm-dd')as
		HSC_EXPIREDATE,c.HSC_COUPON_QUANTITY,c.HSC_DISCOUNT_RATE,c.HSC_MAXDISCOUNT_PAY,c.HSC_NAME,

		h.*
		FROM
		hs_coupon c
		JOIN hairshop h ON ( h.hs_no
		= c.hs_no )







	</select>
	<insert id="couponInsert" parameterType="coupon">




		INSERT INTO
		hs_coupon(HSC_NO,HS_NO,HSC_ISSUEDATE,HSC_EXPIREDATE,HSC_COUPON_QUANTITY,HSC_DISCOUNT_RATE,HSC_MAXDISCOUNT_PAY,HSC_NAME

		)
		VALUES(hsc_no_seq.nextval,#{hs_no},#{hsc_issuedate},
		#{hsc_expiredate},
		#{hsc_coupon_quantity},
		#{hsc_discount_rate},
		#{hsc_maxdiscount_pay},
		#{hsc_name})
	</insert>


</mapper>
